.card_actions {
    display: flex;
    justify-content: space-between;
}

.card_content{
    height: 270px;
    color: black;
}

.button_style{
    border:none;
    background-color:transparent;
    color:black;
}

.quantity_style{
    display:flex;
    align-items:end;
    
}