.contact-page {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.column {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
}

.button_contact {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_contact:hover {
    background-color: #979797;
}

.icon {
    vertical-align: middle;
    margin-right: 5px;
}